.banner {
	height: 418px;
	width: 315px;
	display: flex;
	align-items: flex-end;
	position: relative;

	img {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 10px 0 0 10px;
	}

	.texts {
		padding: 24px;
		width: 100%;
		z-index: 10;
		border-radius: 0 0 0 10px;
		background: linear-gradient(
			180deg,
			rgba(68, 68, 68, 0) 0%,
			rgba(68, 68, 68, 0.72) 100%
		);
	}

	h1,
	h4 {
		color: #ffffff;
		font-style: italic;
	}
}

@media (max-width: 800px) {
	.banner {
		width: 100%;
		height: 331px;

		img {
			border-radius: 0;
		}

		.texts {
			border-radius: 0;
		}
	}
}
