.containerPodCastPlayer {
	display: flex;
	width: 768px;
	height: 310px;
	background-color: #27657f;
	border-radius: 10px 10px 0 0;
	transition: 0.3s;
	padding: 28px 32px;
	position: relative;
	flex-direction: column;

	.closetButton {
		position: absolute;
		right: 20px;
		top: 15px;
		font-size: 35px;
		cursor: pointer;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
	}
}

@media (max-width: 800px) {
	.containerPodCastPlayer {
		width: 100%;
		height: 100%;
		padding: 0;
		position: relative;

		.closetButton {
			svg {
				color: #ffffff;
				border-radius: 50%;
				font-size: 45px;
				background-color: #15475b;
			}
		}
	}
}
